<ion-view view-title="Profile Update">
    <ion-content>
        <h2>Profile Details</h2>
        <div class="padding">
            <label class="item item-input">
                <input type="text" placeholder="Enter Name" ng-model="profile.NAME">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter Email ID" ng-model="profile.EMAILID">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter Age" ng-model="profile.AGE">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter Mobile Number" ng-model="profile.MOBILENO">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter DOB" ng-model="profile.DOB">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter Salary" ng-model="profile.SALARY">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Enter Website" ng-model="profile.WEBSITE">
            </label>
            <button class="button button-block button-calm" ng-click="profileSave()">Save</button>
        </div>

    </ion-content>
</ion-view>
