<?xml version='1.0' encoding='utf-8'?>
<plugin id="smartech-cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Smartech</name><js-module name="Smartech" src="www/Smartech.js">
    <clobbers target="Smartech" />
    </js-module>
    <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
	<feature name="Smartech"><param name="android-package" value="com.netcore.Smartech" />
	</feature>
	</config-file><config-file parent="/*" target="AndroidManifest.xml" />
	<source-file src="src/android/Smartech.java" target-dir="src/com/netcore/Smartech" />
	</platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Smartech">
                <param name="ios-package" value="Smartech" />
            </feature>
        </config-file>
        <source-file src="src/ios/Smartech.m"/>
        <header-file src="src/ios/Smartech.h"/>
        <framework src="src/ios/NetCorePush.framework" embed="true" framework="true" />
        <hook type="after_plugin_add" src="scripts/iosAfterPluginAdd.js" />
    </platform>
</plugin>
